{% extends 'inc/base.html' %}
{% load static %}

{% block content %}

<section id="team" class="team">
  <div class="container">

	    <div class="section-title">
	      <h2>Our Ushering Members</h2>
	      <p></p>
	    </div>
		<div class="row">
		{% for usher in wale %}

			<div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
	            <div class="member">
	              <img src="{{ usher.thumb.url }}" class="img-fluid" alt="">
	              <div class="member-info">
	                <div class="member-info-content">
	                  <h4>{{ usher.name }}</h4>
	                </div>
	                <div class="social">
	                  <a href="{{usher.twitter}}"><i class="icofont-twitter"></i></a>
	                  <a href="{{usher.fbook}}"><i class="icofont-facebook"></i></a>
	                </div>
	              </div>
	            </div>
	        </div>
	          {% endfor %}

	        </div>
	</div>
</section>
{% endblock %}