<!-- {% for slide in wale %}
		<div class="carousel-item active">
            <div class="carousel-background"><img src="{{ slide.thumb.url }}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown"> <span>{{slide.first }}</span></h2>
                <p class="animate__animated animate__fadeInUp">{{slide.second}}</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get Started</a>
              </div>
            </div>
         </div>
{% endfor %}


 
 -->